#logo {
  text-align: center;
  background-image: url(../assets/backgrounds/landing.jpg);
  color: white;
  font-weight: bold;
}
h2 {
  width: 200px;
  padding: 10px;
}
h3 {
  background-color: #EB5315;
  width: 277px;
  padding: 45px;
}
.party {
  color: white;
}
.img {
  float: right;
}
.img2 {
  float: left;
  margin-left:150px;
  margin-top: 50px;
  border: 15px solid #E7DAD5;
}
.food {
  margin: 40px;
  margin-left: 0px;
}
.drinks {
  margin-top: 80px;
  margin-left: 40px;
}
h5 {
  margin-left: 500px;
}
.delic {
  margin-left: 350px;
}
.btn {
  color: red;
  margin-left: 20px;
  border: 1px solid red;
}
.btn2 {
  color: red;
  text-align: center;
  margin-left: 450px;
  border: 1px solid red;
  width: 102px;
}
.img3 {
  border: 5px solid #E7DAD5;
  margin-right: 140px;
  margin-top: 70px;
}
.bg {
background-image: url(../assets/backgrounds/foodsBg.jpg);
margin-top: 100px;
text-align: center;
}
